project:
  type: website

website:
  title: "SLR"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
  sidebar:
    left:
      - text: About

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
