project:
  type: website

website:
  title: "SLR"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
  sidebar:
    contents:
      - text: Introduction
        href: intro.qmd
  body-footer: |
    This page brought to you by <https://example.com>

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true
