/* css styles */
/* title-block-banner-color: #104e8b; */

header {
  color: #104e8b;
}

.about-entity img {
  border: 0.1;
  border-width: thin;
  border-style: solid;
  border-color: #556f89;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.center {
  text-align: center;
}

.orange {
  font-weight: 600;
  color: orange;
}

.purple {
  font-weight: 600;
  color: purple;
}

.nav-footer {
  font-size: 1.2em;
}
