/* css styles */
/* title-block-banner-color: #104e8b; */

header {
  color: #104e8b;
  title-block-banner: #4097c2;
}

.about-entity img {
  border: 0.1;
  border-width: thin;
  border-style: solid;
  border-color: #556f89;
}
